$black: #000000;
$white: #ffffff;
$verylightgrey: #f2f2f2;
$verylightgrey2: #CCCCCC;
$mintgreen: #9EFF92;
$cinnabar: #e74c3c;

$gladegreen: #54874e;
$cardinggreen: #182616;


$base-font: 'Open Sans', sans-serif;
$base-font-size: 16px;
$base-font-lineheight: 1.3em;
$base-font-weight: 300;
$base-font-weight--bold: 700;


$bluecharcoal: #272B31;
